---
# this ensures Jekyll reads the file to be transformed into CSS later
# only Main files contain this front matter, not partials.
---

$body-font: 'Alegreya Sans', sans-serif;
$heading-font: 'Alegreya Sans SC', serif;
$border-radius: 10px;

$csail-orange: #CC5200;
$csail-yellow: #F0B323;
$csail-lgrey: #898D8D;
$csail-dgrey: #525252;
$grad-orange: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(204, 82, 0, 0.4) 100%);
$grad-yellow: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba($csail-yellow, 0.4) 100%);
$border-orange: rgba(204, 82, 0, 0.5);

@mixin for-md-down {
  @media screen and (max-width: 47.9em) { @content }
}

@mixin for-md-up {
  @media screen and (min-width: 48em) { @content }
}

@import 'pure.scss';
@import 'scaffold.scss';
@import 'header.scss';
@import 'papers.scss';
@import 'people.scss';
@import 'news.scss';
@import 'research_themes.scss';
