<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-154350780-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-154350780-1');
</script>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@500;700&family=Alegreya+Sans:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{{ '/styles2.css' | relative_url }}" type="text/css" />

<script src="https://kit.fontawesome.com/d0c18b213e.js"></script>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    {% if page.home %}
      document.querySelector('#header h1 span').classList.add('visible');
      window.sessionStorage.setItem('visited', true);

      const videos = document.querySelectorAll('video');
      const sm = window.matchMedia('(max-width: 47.9em)').matches;
      if (sm) {
        for (const video of videos) video.play();
      } else {
        videos[0].play();
      }

      function showAllPeople() {
        const people = document.querySelectorAll('.person')
        for (const person of people) person.style.opacity = 1;
      }

      if (!sm) for (const theme of document.querySelectorAll('.theme')) {
        theme.addEventListener('click', () => window.location = theme.getAttribute('data-url'));
        theme.addEventListener('mouseout', showAllPeople);
        theme.addEventListener('mouseover', () => {
          const people = theme.getAttribute('data-people').split(', ');
          for (const person of document.querySelectorAll('.person')) {
            if (people.indexOf(person.id) >= 0) continue;
            person.style.opacity = 0.3;
          }

          for (const video of videos) {
            if (video.parentElement === theme) video.play();
            else video.pause();
          }
        });
      }
    {% else %}
      const sess = window.sessionStorage;
      let v = sess.getItem('visited') || false;
      if (!v) {
        document.querySelector('#header h1 span').classList.add('visible');
        sess.setItem('visited', true);
      }
    {% endif %}
  }); 
</script>

{% seo %}
