#ribbon {
  margin: 0 0 10px 0;
  padding: 0;

  div {
    display: block;
    height: 10px;
    text-indent: -999em;
    margin: 0;
    padding: 0;
  }

  div.red {
    background: $mit-red;
    .csail-url & { background: $csail-orange; }
  }
  div.grey {
    background: $mit-dgrey;
    .csail-url & { background: $csail-dgrey; }
  }
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid $mit-lgrey;
  .csail-url & {
    border-bottom: 1px solid $csail-lgrey;
  }

  #logo {
    height: 30px;
    margin-top: -8.5px;
    margin-left: -9px;
    margin-right: 10px;
    display: inline-block;

    svg {
      height: 100%;
    }

    .csail-url & {
      #logo-i-fill { fill: $csail-orange; }
      #logo-i-stroke { stroke: $csail-orange; }
    }
  }

  h1 {
    margin: 0;
    font-size: 24px;
    font-weight: 500;
    span.red {
      color: $mit-red;
      .csail-url & { color: $csail-orange; }
    }
    span.grey {
      color: $mit-dgrey;
      .csail-url & { color: $csail-dgrey; }
    }
    white-space: nowrap;

    display: inline-block;
  }

  #wordmark {
    display: flex;
    align-items: center;
    font-size: 18px;
  }

  #links {
    display: flex;
    align-items: center;
    font-size: 18px;
    padding-left: 61px;

    @media screen and (min-width: 48em) {
      //md
      justify-content: flex-end;
    }

    a.selected {
      font-weight: 500;
      color: #000;
    }

    a.external {
      display: flex;
      svg {
        height: 18px;
        margin-left: 10px;
      }

      &:hover svg {
        fill: $mit-red;
        .csail-url & { fill: $csail-orange; }
      }
    }
  }
}

#mission {
  font-size: 22px;
  margin: 20px 0;
}

#footer {
  border-top: 1px solid $mit-lgrey;
  .csail-url & {
    border-top: 1px solid $csail-lgrey;
  }
  padding: 10px 0;
  text-align: right;
}
