#header {
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $csail-lgrey;
  margin-bottom: 0.5em;

  #wordmark {
    display: flex;
    align-items: center;

    &:hover { text-decoration: none; }
  }

  #logo svg {
    height: 60px;
    width: 80px;
    margin-top: -10px;
    margin-right: 20px;
  }

  h1 {
    margin: 0;
    font-weight: bold;
    white-space: nowrap;

    span {
      display: inline-block;
      margin-right: 0.15em;
      visibility: hidden;
      max-width: 0;
      transition: max-height, visibility 0.5s ease-in-out;
    }

    span.visible  {
      max-width: 100%;
      visibility: visible;
    }
  }

  @include for-md-down {
    #logo svg {
      height: 40px;
      width: 60px;
      margin-top: 0;
      margin-right: 0.5em;
    }

    h1 span.visible {
      max-width: 0;
      visibility: hidden;
    }

    #links {
      margin-left: calc(60px + 0.75em);
    }
  }

  a {
    color: #333;
    &:hover { color: $csail-orange; }
  }

  #links {
    display: flex;
    align-items: center;
    font-size: 1.1rem;

    @include for-md-up {
      justify-content: flex-end;
    }

    a.selected {
      font-weight: 500;
      color: #000;
      &:hover { text-decoration: none; }
    }

    a.external {
      display: flex;
      svg {
        height: 18px;
        margin-left: 10px;
      }

      &:hover svg {
        fill: $csail-orange;
      }
    }
  }
}

#mission {
  font-size: 1.3rem;

  strong {
    font-weight: bold;
  }
}

#footer {
  border-top: 1px solid $csail-lgrey;
  padding: 10px 0;
  text-align: right;
}
