#announcement {
  font-size: medium;
  background: rgba(163, 31, 52, 0.35);
  border-radius: $border-radius;
  padding: 15px;

  .csail-url & { background: rgba(204, 82, 0, 0.35); }
  a, strong { font-weight: bold; }
}

#news-header  {
  color: $csail-yellow;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0.25em;
}

#news {
  position: relative;
  height: 10rem;
  overflow-x: scroll;

  #news-items {
    position:  absolute;
    height: 100%;
    white-space: nowrap;
  }

  .item {
    display: inline-block;
    width: 10rem;
    max-height: 10rem;
    overflow: hidden;
    white-space: normal;
    margin-right: 1em;
    border: 1px solid $csail-yellow;
    border-radius: $border-radius;
    padding: 0.5em;
    vertical-align: top;
  }


  p {
    font-size: 0.85rem;
    margin: 0;

    &.date {
      font-style: italic;
      font-size: 0.8rem;
      text-align: right;
      margin-bottom: 0.25em;
      color: $csail-dgrey;
    }
  }

  a {
    color: #333;
    font-weight: 400;
  }
}
