#center {
  h1.title {
    font-size: 1.6rem;
    margin-bottom: 0;
  }
}

@include for-md-up {
  #content {
    padding-right: 50px;
  }
}

#blogs {
  .blog {
    margin-bottom: 1.5em;
  }

  h2 {
    font-size: 1.3rem;
  }

  h3, p {
    margin: 0;
    font-size: 1rem;
  }

  .thumbnail {
    img {
      width: 90%;
      border: 1px solid $csail-lgrey;
      border-radius: 5px;
    }

    a {
      position: relative; 

      &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 5px;
        border-radius: 5px;
      }

      &:hover {
        img { border-color: $csail-orange; }
        &:before { background: $grad-orange; }
      }
    }
  }

  .authors a {
    color: #333;

    &:hover { color: $csail-orange; }
  }

  .venue { font-style: italic; }

  #sidebar p {
    margin-bottom: 1em;
  }

  .tag {
    display: inline-block;
    padding: 0.25em 0.5em;
    margin: 0.25em;
    margin-left: 0;
    border: 1px solid rgba($csail-lgrey, 0.5);
    border-radius: 20px;
    color: #333;
    font-size: 0.9rem;
    font-weight: 400;

    &:hover {
      text-decoration: none;
      background: rgba($csail-lgrey, 0.3);
      border-color: rgba($csail-lgrey, 0.75);
    }

    &.selected {
      background: rgba($csail-yellow, 0.3);
      border-color: $csail-yellow;
    }

    &.empty {
      opacity: 0.3;
    }

    span {
      color: $csail-lgrey;
      font-weight: 300;
    }
  }
}


#pubs {
  .pub {
    margin-bottom: 1.5em;
  }

  h2 {
    font-size: 1.3rem;
  }

  h3, p {
    margin: 0;
    font-size: 1rem;
  }

  .thumbnail {
    img {
      width: 90%;
      border: 1px solid $csail-lgrey;
      border-radius: 5px;
    }

    a {
      position: relative; 

      &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 5px;
        border-radius: 5px;
      }

      &:hover {
        img { border-color: $csail-orange; }
        &:before { background: $grad-orange; }
      }
    }
  }

  .authors a {
    color: #333;

    &:hover { color: $csail-orange; }
  }

  .venue { font-style: italic; }

  #sidebar p {
    margin-bottom: 1em;
  }

  .tag {
    display: inline-block;
    padding: 0.25em 0.5em;
    margin: 0.25em;
    margin-left: 0;
    border: 1px solid rgba($csail-lgrey, 0.5);
    border-radius: 20px;
    color: #333;
    font-size: 0.9rem;
    font-weight: 400;

    &:hover {
      text-decoration: none;
      background: rgba($csail-lgrey, 0.3);
      border-color: rgba($csail-lgrey, 0.75);
    }

    &.selected {
      background: rgba($csail-yellow, 0.3);
      border-color: $csail-yellow;
    }

    &.empty {
      opacity: 0.3;
    }

    span {
      color: $csail-lgrey;
      font-weight: 300;
    }
  }
}

.award {
  font-weight: 500;
  color: #218721;
  i { 
    margin-right: 5px;
  }
}

#sidebar {
  h4 {
    margin-top: 2em;
    margin-bottom: 0.5em;

    &:first-of-type {
      margin-top: 1.33em;
    }
  }

  h5 {
    margin: 0.5em 0 0em 0;
    font-weight: normal;
    font-style: italic;
    font-size: 0.9rem;
  }

  pre {
    background: #f6f6f6;
    padding: 10px;
    border-radius: $border-radius;
    overflow: auto;
  }

  #search { width: 100%; }
}

#paper {
  @import './LaTeXML.scss';

  h2 { 
    font-size: 1.4rem;
  }

  h3 {
    margin-bottom: 0.25em;
  }

  a.bib {
    margin-left: 5px;
    color: $csail-lgrey;

    &:hover {
      color: $csail-orange;
    }
  }

  pre {
    margin: 0;
    overflow: auto;
  }

  #content {
    article {
      line-height: 1.3rem;

      span.ltx_tag.ltx_tag_section {
        margin-right: 10px;
        display: inline-block;
        background: #333;
        color: #fff;
        padding: 5px;
      }

      span.ltx_tag.ltx_tag_subsection, span.ltx_tag.ltx_tag_subsubsection {
        display: inline-block;
        margin-right: 10px;
      }

      .ltx_font_smallcaps {
        font-size: 1.2rem;
      }

      .ltx_Math {
        font-family: monospace;
      }
    }

    figure {
      img {
        width: 100%;
        height: 100%;
      }

      .longdesc {
        font-size: 0.9rem;
      }
    }

    caption, figcaption {
      text-align: left;
      font-size: 0.8rem;
      margin-top: 0.5em;
      line-height: normal;
    }

    abbr[title] {
      cursor: auto;
      text-decoration: underline dotted #666;
    }

    strong { font-weight: 500; }
    
    table {
      text-align:  left;
      font-size: 0.9rem;

      th { 
        font-weight: normal; 
        padding: 0.25em 0.5em 0.25em 0.25em; 
      }
      th[scope=col] { font-weight: bold; }
      th[scope=row] { font-style: italic;}

      td > img {
        height: auto;
        object-fit: contain;
      }
    }
  }

  #authors {
    gap: 0.5em 0;
    margin: 0.5em 0;

    a { color: #333; }

    p { margin: 0; }

    img {
      width: 1.5rem;
      float: left;
      margin-top: 0.25em;
      margin-right: 0.5em;
      border-radius: 20px;
      filter: grayscale(100%);
    }

    p:hover img {
      filter: none;
    }

    span.affiliation {
      font-size: 0.8rem;
      display: block;
    }
  }

  #metadata {
    p {
      margin: 0.5em 0;
    }

    #venue { 
      font-style: italic; 
      margin-right: 5px;
    }

    #doi {
      font-size: 0.8rem;

      span {
        font-weight: 500;
      }
    }
  }

  hr {
    border: 0;
    border-bottom: 1px dotted $csail-lgrey;
  }

  #abstract {
    p { display: inline; }
    h2 {
      display: inline;
      font-size: 1rem;
      &:after {
        content: ' \2014 ';
      }
    }

    padding-bottom: 1em;
    border-bottom: 1px solid $csail-lgrey;
  }

  .teaser {
    margin-top: 1em;

    img {
      width: 100%;
    }

    p {
      margin-top: 0.5em;
      font-size: 0.85rem;
      color: $csail-lgrey;
    }
  }

  .citation {
    p {
      margin: 0;
    }

    .title {
      font-weight: 400;
    }

    .venue {
      font-style: italic;
    }
  }

  code {
    font-size: 0.85rem;
  }

  #materials {
    list-style-type: none;
    margin-top: 10px;
    padding-left: 0;

    li {
      margin-bottom: 7px;
    }

    i {
      width: 20px;
      color: $csail-dgrey;
      margin-right: 5px;
    }

    a {
      font-weight: 400;
    }
  }

  .video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  #toc {
    position: sticky;
    top: 1em;

    #toc-inner {
      max-height: 90vh;
      overflow: auto;
      background: #f6f6f6;
      padding: 0 1em;
      border-radius: $border-radius;
    }

    #contents {
      font-size: 0.9rem;
      list-style-type: none;
      padding-left: 0;
      margin-top: 0;

      ul {
        padding-left: 15px;
        list-style-type: none;
      }

      li {
        margin: 0.7em 0;
      }

      .active {
        font-weight: bold;
      }

      .ltx_tag {
        margin-right: 3px;
      }
    }
  }

  #bib {
    .ltx_biblist { padding-left: 15px; }

    .ltx_bibitem {
      .ltx_tag { display: none; }

      list-style-type: decimal;
      font-size: 0.9rem;
      padding-left: 5px;
      margin-bottom: 5px;
    }

    .ltx_bib_volume { font-weight: normal; }
  }
}
