#themes {
  h2 {
    color: $csail-lgrey;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0.25em;
  }

  .theme {
    display: block;
    position: relative;
    border: 1px solid $csail-lgrey;
    border-radius: $border-radius;
    margin-bottom: 2em;
    overflow: hidden;
    // cursor: pointer;

    &:hover {
      h3 { text-decoration: underline; }
    }

    &:before {
      display: block;
      content: "";
      width: 100%;
      height: 100%;
      // position: absolute;
      // z-index: -1;
      // left: 0;
      // right: 0;
      // top: 0;
      // bottom: 0em;
      // border-radius: $border-radius;
      // background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0, 0, 0, 0.4) 100%);
      // background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(255, 255, 255, 1) 110%);
    }

    @include for-md-up {
      margin-right: 3em;
    }

    video {
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -2;
      border-radius: $border-radius;
    }

    .content {
      position: relative;
      bottom: 0em;
      padding: 0.5em;
      background: rgba(#9fdafd, 0.9);
      padding-bottom: 20px;

      &:hover {
        h3 { text-decoration: none; }
      }
    }

    h3 {
      margin: 0;
      padding: 0.5em 0.5em 0.25em;
      text-transform: uppercase;
      font-weight: 800;
      &:hover { text-decoration: underline !important; }
    }

    p {
      margin: 0;
      font-weight: 400;
      padding: 0 0.5em;

      a {
        color: #333;
        font-weight: 500;
        // text-decoration: underline;

        &:hover {
          // text-decoration: none;
        }
      }
    }
  }
}
