#accessibilityTree1 {
    position: relative;
    margin-left: 30%;
}

#Prototype-Title {
    position: relative;
    margin-left: 15%;
}

#visualizationExample2 {
    margin-left: 25%;
}

#accessibilityTree2 {
    position: relative;
    margin-left: 30%;
}