<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}

  {% if page.title == 'Publications' %}
    <script src="https://cdn.jsdelivr.net/gh/nextapps-de/flexsearch@0.7.2/dist/flexsearch.compact.js"></script>
    <script type="text/javascript">
      // {% include blogsearch.js %}
      {% include pubsearch.js %}
    </script>
  {% endif %}
</head>
<body>
  <div class="pure-g">
    <div id="center" class="pure-u-1">
      {% include header.html %}
      
      {{content}}
    </div>
  </div>
</body>
</html>
