#ribbon {
  margin: 0 0 10px 0;
  padding: 0;

  div {
    display: block;
    height: 10px;
    text-indent: -999em;
    margin: 0;
    padding: 0;
  }

  div.red { background: $mit-red; }
  div.grey { background: $mit-dgrey; }
}

#header {
  display: flex;
  align-items: center;
  padding: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid $mit-lgrey;

  #logo {
    height: 36px;
    margin-top: -7px;
    margin-left: -4px;
    margin-right: 15px;

    svg {
      height: 100%;
    }
  }

  h1 {
    margin: 0;
    margin-bottom: 1px;
    font-size: 24px;
    font-weight: 500;
    span.red { color: $mit-red; }
    span.grey { color: $mit-dgrey; }
    white-space: nowrap;

    display: none;
    @media screen and (min-width: 35.5em) {
      // sm
      display: block;
    }
  }

  #links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 18px;
    width: 100%;

    a.selected {
      font-weight: 500;
      color: #000;
    }

    a.external {
      display: flex;
      svg {
        height: 18px;
        margin-left: 10px;
      }

      &:hover svg { fill: $mit-red; }
    }
  }
}

#mission {
  font-size: 22px;
  margin: 20px 0;
}
