#members {
  display: flex;
  align-items: center;

  a {
    position: relative;
    width: 50px;
    height: 50px;
    margin-right: 7px;
    border: 1px solid $mit-lgrey;
    border-radius: 50px;
    overflow: hidden;

    img {
      width: 100%;
    }

    &:before {
      content: "";
      position: absolute;
      left: 0; right: 0;
      top: 0; bottom: 0;
    }

    &:hover {
      border-color: $border-red;

      &:before {
        background: $grad-red;
      }
    }
  }
}

#member-caption {
  margin-left: 3px;

  h3 {
    margin: 0;
  }

  h4 {
    margin: 0;
    font-weight: 400;
    font-style: italic;
  }
}
