.papersList {
  list-style: none;
  padding-left: 0;
  padding-right: 20px;

  p { 
    margin: 0;
  }

  li {
    display: inline-block;
    margin: 0.75em auto;
  }

  .thumbnail {
    position: relative;
    width: 120px;
    float: left;
    border: 1px solid $mit-dgrey;
    .csail-url & { border: 1px solid $csail-dgrey; }
    border-radius: 5px;

    img {
      display: block;
      width: 100%;
    }

    &:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }

    &:hover {
      border-color: $border-red;
      .csail-url & { border-color: $border-orange; }

      &:before {
        background: $grad-red;
        .csail-url & { background: $grad-orange; }
      }
    }
  }

  .entry {
    margin-left: 135px;
  }

  .hidden-pubs {
    display: none;
  }

  .title {
    font-weight: bold;
    color: $mit-red;
    .csail-url & { color: $csail-orange; }

    &:hover { opacity: 0.7; }
  }

  .venue {
    font-style: italic;
    font-weight: 500;
  }
}
