.wrapper {
	margin-top: 20px;
	margin-left: 20px;
}

.label {
	font-family: 'Roboto Slab', serif;
	cursor: pointer;
}

circle {
	cursor: pointer; 
}

div.tooltip {	
    position: absolute;			
    text-align: left;			
    width: 500px;					
    padding: 2px 10px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}

.checkboxDiv {
	font-family: 'Roboto Slab', serif;
	font-size: 9pt;
	color: grey;
}

.checkboxDiv label {
  display: inline-block;
  padding-right: 10px;
  white-space: nowrap;
}
.checkboxDiv input {
  vertical-align: top;
}
.checkboxDiv label span {
  vertical-align: middle;
}

.snippet {
	margin-bottom: 3px;
}

.papersList {
	margin-top: 10px;
}

.papersListInner {
	overflow: scroll;
	height: 400px;
}

.bibItem {
	padding:5px;
	font-size: 8pt;
	font-family: 'Roboto Slab', serif;
	overflow: auto;
}

.title {
	font-size: 14pt;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 2px;
	font-weight: bold;
}

.subtitle:before
{
    content: '?';
    display: inline-block;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    width: 1.8ex;
    height: 1.8ex;
    font-size: 1.4ex;
    line-height: 1.8ex;
    border-radius: 1.2ex;
    margin-right: 2px;
    margin-bottom: 10px;
    padding: 1px;
    color: white;
    background: grey;
    border: 1px solid grey;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.7;
}

.subtitle {
	cursor: pointer;
	font-family: sans-serif;
	font-size: 10pt;
	opacity: 0.7;
}

.subtitle:hover {
	opacity: 1;
}

.subtitle:hover:before
{
    opacity: 1;
    text-decoration: none;
}

.bibLabel {
	font-size: 10pt;
	font-family: 'Open Sans';
	color: blue;
	overflow: auto;
	margin-bottom: 8px;
}

.citation {
	width: 40%;
	margin-right:8%;
	float: left;
}

.snippet {
	width: 50%;
	float: left;
	font-style: italic;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.modal-text {
	font-family: 'Roboto Slab';
	font-size: 10pt;

}

/* The Close Button */
#close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#close:hover,
#close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}