name: Deploy

on:
  push:
    branches:
      - jekyll

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7 # Not needed with a .ruby-version file
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
      - run: bundle exec jekyll build
      - uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          password: ${{ secrets.REMOTE_PASSWORD }}
          proxy_host: ${{ secrets.JUMP_HOST }}
          proxy_username: ${{ secrets.REMOTE_USER }}
          proxy_password: ${{ secrets.REMOTE_PASSWORD }}
          source: "_site/*"
          target: "mitviswww/"
          strip_components: 1
